<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>733136262142-5m00jrioi4ks2nk628fh4lprbaef0md7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.733136262142-5m00jrioi4ks2nk628fh4lprbaef0md7</string>
	<key>API_KEY</key>
	<string>AIzaSyB_c_GXAA14YGxZFdaRiCkIT5tfTqAIFBE</string>
	<key>GCM_SENDER_ID</key>
	<string>733136262142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.millerhealth.AerabyteFitnessTracker</string>
	<key>PROJECT_ID</key>
	<string>aerabytefitness</string>
	<key>STORAGE_BUCKET</key>
	<string>aerabytefitness.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:733136262142:ios:721de5666799af7c46a6af</string>
	<key>DATABASE_URL</key>
	<string>https://aerabytefitness.firebaseio.com</string>
</dict>
</plist>